/*
*= require stacktable
*= require select2
*/

body {
  font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  color: #370938;
  margin: 2%;
}

a {
  color: #2C2B84;
  text-decoration: none;
}

a:hover {
  color: #1A80E3;
}

a:visited {
  color: #2C2B84;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 96%;
}

th {
  font-size: 1.2em;
  font-weight: 700;
  padding: .5% .5% .5% 0;
}

td {
  padding: .2% .2% .2% 0;
}

.search-form {
  border-top: solid 1px #d3d3d3;
  margin: 2% 0;
  padding-top: 2%;
}

.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

.mobile-add-new {
  display:inline-block;
  margin: 1% .5%;
}

@media only screen and (max-width: 800px) {
  .stacktable.large-only { display: none; }
  .stacktable.small-only { display: table; }
  .mobile-add-new {display:block; width:20%; margin: 1.5% 0;}
}

fieldset {
  border: none;
  width: 20%;
}

fieldset input {
  float: right;
  width: 60%;
}

fieldset select {
  float: right;
}

.add-new-on-index {
  margin: 1% 0;
}

.item-actions a {
  margin-left: 10px;
}

.header {
  padding: 0;
}

.header li {
  list-style-type: none;
  float: left;
}

.category-icon, .location-icon {
  background-color: #000;
  margin: .2em;
  padding: .5em;
  width: 125px;
}

.category-icon a, .location-icon a {
  color: #fff;
}

.category-dropdown ul, .location-dropdown ul{
  list-style-type: none;
  padding: 0;
}

.category-dropdown, .location-dropdown {
  background-color: #000;
  position: absolute;
  display: none;
}

.category-dropdown {
  left: 4.34em;
  top: 4em;
}

.location-dropdown {
  top: 4em;
  left: 13.5em
}

.category-dropdown a, .location-dropdown a {
  color: #fff;
}

.category-dropdown li, .location-dropdown li {
  width: 125px;
  padding: .5em;
}
