<h1>All Locations</h1>
<% @locations.each do |location| %>
<p><%= link_to location.name, location %><%= button_to "Edit", edit_location_path(location), method: :get %><%= button_to "Delete", location, method: :delete, data: {confirm: "Are you sure?"} %></p>
<% end %>
